[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
django = "==4.2.2"
django-autoslug = "==1.9.9"
django-filter = "==23.2"
django-shopping-cart = "==0.1"
mysqlclient = "==2.1.1"
pillow = "==9.5.0"
sqlparse = "==0.4.4"
whitenoise = "==6.5.0"

[dev-packages]

[requires]
python_version = "3.11"
