{% load static %}

<!-- footer -->
<footer class="c-footer u-theme--background-color--primary u-theme--background-color--darker"
role="contentinfo">
<div
    class="c-footer--inner u-color--white l-grid l-grid--7-col l-grid-wrap l-grid-wrap--6-of-7">
    <div class="l-grid-item l-grid-item--m--3-col c-footer__description">
        <p class="c-footer__description-text u-font--secondary--m"> </p>
    </div> <!-- /.c-footer__description -->
    <div class="l-grid-item l-grid-item--m--3-col l-grid-item--l--1-col c-footer__primary-nav">
        <nav class="c-footer__primary-nav__list u-spacing--half"> <a href="./index.html"
                class="c-footer__primary-nav__link u-theme--link-hover--light u-link--white"><strong>Home</strong></a>
            <a href="./contact/"
                class="c-footer__primary-nav__link u-theme--link-hover--light u-link--white"><strong>contact</strong></a>
            <a href="./departments.html"
                class="c-footer__primary-nav__link u-theme--link-hover--light u-link--white"><strong>Departments</strong></a>
            <a href="./category/uncategorized/"
                class="c-footer__primary-nav__link u-theme--link-hover--light u-link--white"><strong>Uncategorized</strong></a>
            <a href="./category/uncategorized/"
                class="c-footer__primary-nav__link u-theme--link-hover--light u-link--white"><strong>Uncategorized</strong></a>
            <a href="./contact/"
                class="c-footer__primary-nav__link u-theme--link-hover--light u-link--white"><strong>contact</strong></a>
            <a href="./departments.html"
                class="c-footer__primary-nav__link u-theme--link-hover--light u-link--white"><strong>Departments</strong></a>
            <a href="./blogs/"
                class="c-footer__primary-nav__link u-theme--link-hover--light u-link--white"><strong>Blogs</strong></a>
            <a href="./category/uncategorized/"
                class="c-footer__primary-nav__link u-theme--link-hover--light u-link--white"><strong>Uncategorized</strong></a>
            <a href="./category/uncategorized/"
                class="c-footer__primary-nav__link u-theme--link-hover--light u-link--white"><strong>Uncategorized</strong></a>
        </nav> <!-- /.c-footer__primary-nav -->
    </div> <!-- /.c-footer__primary-nav -->
    <div
        class="l-grid-item l-grid-item--m--3-col l-grid-item--l--2-col c-footer__secondary-nav">
        <nav class="c-footer__secondary-nav__list u-spacing--half"> <a href="./index.html"
                class="c-footer__secondary-nav__link u-theme--link-hover--light u-link--white">
                <span class="u-icon u-icon--xs u-path-fill--white u-space--half--right"><svg
                        xmlns="http://www.w3.org/2000/svg" viewbox="0 0 10.01 10">
                        <title>Three horizontal bars</title>
                        <path d="M10,2.31H0V0H10ZM6.36,3.85H0v2.3H6.36ZM8.22,7.7H0V10H8.22Z"
                            fill="#231f20" />
                    </svg></span>
                <font>Home</font>
            </a> <a href="./contact/"
                class="c-footer__secondary-nav__link u-theme--link-hover--light u-link--white">
                <span class="u-icon u-icon--xs u-path-fill--white u-space--half--right"><svg
                        xmlns="http://www.w3.org/2000/svg" viewbox="0 0 10.01 10">
                        <title>Three horizontal bars</title>
                        <path d="M10,2.31H0V0H10ZM6.36,3.85H0v2.3H6.36ZM8.22,7.7H0V10H8.22Z"
                            fill="#231f20" />
                    </svg></span>
                <font>contact</font>
            </a> <a href="./departments.html"
                class="c-footer__secondary-nav__link u-theme--link-hover--light u-link--white">
                <span class="u-icon u-icon--xs u-path-fill--white u-space--half--right"><svg
                        xmlns="http://www.w3.org/2000/svg" viewbox="0 0 10.01 10">
                        <title>Three horizontal bars</title>
                        <path d="M10,2.31H0V0H10ZM6.36,3.85H0v2.3H6.36ZM8.22,7.7H0V10H8.22Z"
                            fill="#231f20" />
                    </svg></span>
                <font>Departments</font>
            </a> <a href="./category/uncategorized/"
                class="c-footer__secondary-nav__link u-theme--link-hover--light u-link--white">
                <span class="u-icon u-icon--xs u-path-fill--white u-space--half--right"><svg
                        xmlns="http://www.w3.org/2000/svg" viewbox="0 0 10.01 10">
                        <title>Three horizontal bars</title>
                        <path d="M10,2.31H0V0H10ZM6.36,3.85H0v2.3H6.36ZM8.22,7.7H0V10H8.22Z"
                            fill="#231f20" />
                    </svg></span>
                <font>Uncategorized</font>
            </a> <a href="./category/uncategorized/"
                class="c-footer__secondary-nav__link u-theme--link-hover--light u-link--white">
                <span class="u-icon u-icon--xs u-path-fill--white u-space--half--right"><svg
                        xmlns="http://www.w3.org/2000/svg" viewbox="0 0 10.01 10">
                        <title>Three horizontal bars</title>
                        <path d="M10,2.31H0V0H10ZM6.36,3.85H0v2.3H6.36ZM8.22,7.7H0V10H8.22Z"
                            fill="#231f20" />
                    </svg></span>
                <font>Uncategorized</font>
            </a> <a href="./contact/"
                class="c-footer__secondary-nav__link u-theme--link-hover--light u-link--white">
                <span class="u-icon u-icon--xs u-path-fill--white u-space--half--right"><svg
                        xmlns="http://www.w3.org/2000/svg" viewbox="0 0 10.01 10">
                        <title>Three horizontal bars</title>
                        <path d="M10,2.31H0V0H10ZM6.36,3.85H0v2.3H6.36ZM8.22,7.7H0V10H8.22Z"
                            fill="#231f20" />
                    </svg></span>
                <font>contact</font>
            </a> <a href="./departments.html"
                class="c-footer__secondary-nav__link u-theme--link-hover--light u-link--white">
                <span class="u-icon u-icon--xs u-path-fill--white u-space--half--right"><svg
                        xmlns="http://www.w3.org/2000/svg" viewbox="0 0 10.01 10">
                        <title>Three horizontal bars</title>
                        <path d="M10,2.31H0V0H10ZM6.36,3.85H0v2.3H6.36ZM8.22,7.7H0V10H8.22Z"
                            fill="#231f20" />
                    </svg></span>
                <font>Departments</font>
            </a> <a href="./blogs/"
                class="c-footer__secondary-nav__link u-theme--link-hover--light u-link--white">
                <span class="u-icon u-icon--xs u-path-fill--white u-space--half--right"><svg
                        xmlns="http://www.w3.org/2000/svg" viewbox="0 0 10.01 10">
                        <title>Three horizontal bars</title>
                        <path d="M10,2.31H0V0H10ZM6.36,3.85H0v2.3H6.36ZM8.22,7.7H0V10H8.22Z"
                            fill="#231f20" />
                    </svg></span>
                <font>Blogs</font>
            </a> <a href="./category/uncategorized/"
                class="c-footer__secondary-nav__link u-theme--link-hover--light u-link--white">
                <span class="u-icon u-icon--xs u-path-fill--white u-space--half--right"><svg
                        xmlns="http://www.w3.org/2000/svg" viewbox="0 0 10.01 10">
                        <title>Three horizontal bars</title>
                        <path d="M10,2.31H0V0H10ZM6.36,3.85H0v2.3H6.36ZM8.22,7.7H0V10H8.22Z"
                            fill="#231f20" />
                    </svg></span>
                <font>Uncategorized</font>
            </a> <a href="./category/uncategorized/"
                class="c-footer__secondary-nav__link u-theme--link-hover--light u-link--white">
                <span class="u-icon u-icon--xs u-path-fill--white u-space--half--right"><svg
                        xmlns="http://www.w3.org/2000/svg" viewbox="0 0 10.01 10">
                        <title>Three horizontal bars</title>
                        <path d="M10,2.31H0V0H10ZM6.36,3.85H0v2.3H6.36ZM8.22,7.7H0V10H8.22Z"
                            fill="#231f20" />
                    </svg></span>
                <font>Uncategorized</font>
            </a> </nav> <!-- /.c-footer__secondary-nav -->
    </div> <!-- /.c-footer__secondary-nav -->
    <div class="l-grid-item l-grid-item--m--3-col c-footer__legal">
        <p class="c-footer__copyright">© 2023</p>
        <address class="c-footer__address" itemprop="address" itemscope=""
            itemtype="http://schema.org/PostalAddress"> <span itemprop="streetAddress">Limuru
                Road</span> <span itemprop="addressLocality"> Nairibi</span> <span
                itemprop="addressRegion">, Nairobi</span> <span itemprop="postalCode">
                7877-00100</span> Kenya <a itemprop="telephone" href="tel:0114746151"
                class="c-footer__phone u-link--white u-theme--link-hover--light">0114746151</a>
        </address>
    </div> <!-- /.c-footer__legal -->
</div> <!-- /.c-footer--inner -->
</footer> 
<!-- /.c-footer -->