{% extends 'main.html' %}

{% block content %}

{% load static %}

<style>
    .about-img {
        width: 100% !important;
        aspect-ratio: 2/1 !important;
    }
</style>

<hr class="u-theme--background-color--primary u-theme--background-color--darker u-font-weight--bold p-1">

<div class="container p-3">
    <h3 class="text-primary u-font-weight--bold text-center">Karura Adventist Church At Glance</h3>
</div>

<section class="p-3">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-sm-6 order-lg-2">
                <div class="p-1"><img class="about-img" src="{% static 'images/slider/slide5.png' %}" alt="..." />
                </div>
            </div>
            <div class="col-sm-6 order-lg-1">
                <div class="p-1">
                    <h4 class="text-primary u-font-weight--bold text-center">Our Mission</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam
                        sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                        voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Content section 2-->

    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-sm-6">
                <div class="p-1"><img class="about-img" src="{% static 'images/slider/slide5.png' %}" alt="..." />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="p-1">
                    <h4 class="text-primary u-font-weight--bold text-center">Our Vision</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam
                        sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                        voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Content section 3-->

    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 order-sm-2">
                <div class="p-1"><img class="about-img" src="{% static 'images/slider/slide5.png' %}" alt="..." />
                </div>
            </div>
            <div class="col-sm-6 order-lg-1">
                <div class="p-1">
                    <h3 class="text-primary u-font-weight--bold text-center">Karura Adventist Church</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam
                        sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                        voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}