

{% extends 'main.html' %}

{% block content %}

{% load static %}

<hr class="u-theme--background-color--primary u-theme--background-color--darker u-font-weight--bold p-1">

<section id="top"
    class="l-main__content l-grid l-grid--7-col l-grid-wrap--6-of-7 u-spacing--double--until-xxlarge u-padding--zero--sides u-shift--left--1-col--at-xxlarge">
    <article class="c-article l-grid-item  pl-0 ">
        <div class="container text-center ">
            <h3 class="u-font--primary--xl text-primary u-font-weight--bold">Recent articles</h3>
        </div>
        <div class="c-article__body">
            <div class="text u-spacing--double u-space--double--top">

                <div class="c-block c-block__text  u-theme--border-color--darker u-border--left">
                    
                        <img class="event-img" src="{% static 'images/slider/slide5.png' %}" alt="">
                    
                    <h3 class="u-theme--color--darker u-theme--color--darker u-font--primary--m">
                        <a href="#" class="c-block__title-link u-theme--link-hover--dark">
                            <strong>Hello world!</strong> 
                        </a>
                    </h3>
                    <p class="c-block__body text"> Welcome to WordPress. This is your first post. Edit or
                        delete it, then start writing! </p>
                    <p class="text-primary u-font-weight--bold">20th Feb 2025</p>
                    <a href="#" class="c-block__button o-button o-button--outline">Read More
                        <span class="u-icon u-icon--m u-path-fill--base u-space--half--left">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
                                <title>Long right arrow</title>
                                <path d="M18.29,8.59l-3.5-3.5L13.38,6.5,15.88,9H.29v2H15.88l-2.5,2.5,1.41,1.41,3.5-3.5L19.71,10Z" fill="#9b9b9b" />
                            </svg>
                        </span>
                    </a>
                </div>

            </div>
        </div>


    </article>
    <div class="c-sidebar l-grid-item l-grid-item--l--2-col l-grid-item--xl--2-col u-padding--zero--sides">
        <div class="u-spacing--double u-padding--right">
           
            <section
                class="c-widget c-block-3 c-widget_block o-link-wrapper--underline u-spacing u-background-color--gray--light u-padding u-theme--border-color--darker u-border--left can-be--dark-dark">
                <div class="wp-block-group is-layout-flow">
                    <h2 class="wp-block-heading">Recent Posts</h2>
                    <ul class="wp-block-latest-posts__list wp-block-latest-posts">
                        <li><a class="wp-block-latest-posts__post-title" href="./2023/06/27/hello-world/">Hello
                                world!</a></li>
                    </ul>
                </div>
            </section>
            <section
                class="c-widget c-block-4 c-widget_block o-link-wrapper--underline u-spacing u-background-color--gray--light u-padding u-theme--border-color--darker u-border--left can-be--dark-dark">
                <div class="wp-block-group is-layout-flow">
                    <h2 class="wp-block-heading">Recent Comments</h2>
                    <ol class="wp-block-latest-comments">
                        <li class="wp-block-latest-comments__comment">
                            <article>
                                <footer class="wp-block-latest-comments__comment-meta"><a
                                        class="wp-block-latest-comments__comment-author" href="https://wordpress.org/">A
                                        WordPress Commenter</a>
                                    on <a class="wp-block-latest-comments__comment-link"
                                        href="./2023/06/27/hello-world/#comment-1">Hello
                                        world!</a></footer>
                            </article>
                        </li>
                    </ol>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}