{% extends 'main.html' %}

{% block content %}

{% load static %}

<hr class="u-theme--background-color--primary u-theme--background-color--darker u-font-weight--bold p-1">

<section id="top" class="l-main__content l-grid l-grid--7-col l-grid-wrap--6-of-7 u-spacing--double--until-xxlarge u-padding--zero--sides u-shift--left--1-col--at-xxlarge ">
    <article class="c-article l-grid-item  pl-0 11 l-main u-spacing--double u-padding--double--bottom">
        <div class="container text-center ">
            <h3 class="u-font--primary--xl text-primary u-font-weight--bold">Church Calender</h3>
        </div>
        <div class="c-article__body">
            <div class="text u-spacing--double u-space--double--top">

                <div class="container">
                    <div class="h- p-5 bg-light border rounded-3">
                        <h2>Add borders</h2>
                        <p>Or, keep it light and add a border for some added definition to the boundaries of your content.
                            Be sure to look under the hood at the source HTML here as we've adjusted the alignment and
                            sizing of both column's content for equal-height.</p>
                        <button class="btn btn-outline-secondary" type="button">Example button</button>
                    </div>
                </div>

            </div>
        </div>


    </article>
    <div class="c-sidebar l-grid-item l-grid-item--l--2-col l-grid-item--xl--2-col u-padding--zero--sides">
        <div class="u-spacing--double u-padding--right">
           
            <section
                class="c-widget c-block-3 c-widget_block o-link-wrapper--underline u-spacing u-background-color--gray--light u-padding u-theme--border-color--darker u-border--left can-be--dark-dark">
                <div class="wp-block-group is-layout-flow">
                    <h2 class="wp-block-heading">Recent Posts</h2>
                    <ul class="wp-block-latest-posts__list wp-block-latest-posts">
                        <li><a class="wp-block-latest-posts__post-title" href="./2023/06/27/hello-world/">Hello
                                world!</a></li>
                    </ul>
                </div>
            </section>
            <section
                class="c-widget c-block-4 c-widget_block o-link-wrapper--underline u-spacing u-background-color--gray--light u-padding u-theme--border-color--darker u-border--left can-be--dark-dark">
                <div class="wp-block-group is-layout-flow">
                    <h2 class="wp-block-heading">Recent Comments</h2>
                    <ol class="wp-block-latest-comments">
                        <li class="wp-block-latest-comments__comment">
                            <article>
                                <footer class="wp-block-latest-comments__comment-meta"><a
                                        class="wp-block-latest-comments__comment-author" href="https://wordpress.org/">A
                                        WordPress Commenter</a>
                                    on <a class="wp-block-latest-comments__comment-link"
                                        href="./2023/06/27/hello-world/#comment-1">Hello
                                        world!</a></footer>
                            </article>
                        </li>
                    </ol>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}