{% extends 'main.html' %}

{% block content %}

{% load static %}

<style>
    .carousel-item img {
        width: 100% !important;
        aspect-ratio: 7/2 !important;
    }
</style>

<!-- main section -->
<main class="11 l-main u-spacing--double u-padding--double--bottom" role="main">

    <div id="carouselExampleControls" class="carousel slide u-space--zero--top" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'images/slider/slider22_bg.jpg' %}" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <div class="c-page-header__content c-page-header__long__content l-grid-wrap l-grid-wrap--3-of-7 u-shift--left--1-col--at-xxlarge">
                        <h1 class="u-font--primary--xl u-color--white u-font-weight--bold">Karura Adventist Church</h1>
                        <p> Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the
                            Son, and of the Holy Ghost</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/slider/slider4_bg2.jpg' %}" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <div class="c-page-header__content c-page-header__long__content l-grid-wrap l-grid-wrap--3-of-7 u-shift--left--1-col--at-xxlarge">
                        <h1 class="u-font--primary--xl u-color--white u-font-weight--bold">Karura Adventist Church</h1>
                        <p> Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the
                            Son, and of the Holy Ghost</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/slider/slider4_bg1.jpg' %}" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <div class="c-page-header__content c-page-header__long__content l-grid-wrap l-grid-wrap--3-of-7 u-shift--left--1-col--at-xxlarge">
                        <h1 class="u-font--primary--xl u-color--white u-font-weight--bold">Karura Adventist Church</h1>
                        <p> Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the
                            Son, and of the Holy Ghost</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container">
        <div class="u-font--primary--xl u-color--black u-font-weight--bold">
            <h3>
                Seek the Lord while he may be found - Isaiah 55:6 Join us every Sabbath and let’s delve together into
                the Word of God, and in praise and worship.
            </h3>
        </div>
    </div>

    <section id="top"
        class="l-main__content l-grid l-grid--7-col l-grid-wrap--6-of-7 u-spacing--double--until-xxlarge u-padding--zero--sides u-shift--left--1-col--at-xxlarge">
        <article class="c-article l-grid-item l-grid-item--l--4-col l-grid-item--xl--4-col l-grid-item--xxl--3-col">
            <div class="c-article__body">
                <div class="text u-spacing--double u-space--double--top">
                    <div class="c-block c-block__text  u-theme--border-color--darker u-border--left u-spacing--half">
                        <h3 class="u-theme--color--darker u-theme--color--darker u-font--primary--m">
                            <a href="./2023/06/27/hello-world/" class="c-block__title-link u-theme--link-hover--dark">
                                <strong>Hello
                                    world!</strong> </a>
                        </h3>
                        <p class="c-block__body text"> Welcome to WordPress. This is your first
                            post. Edit or delete it, then start writing! </p> <a href="./2023/06/27/hello-world/"
                            class="c-block__button o-button o-button--outline">Read More<span
                                class="u-icon u-icon--m u-path-fill--base u-space--half--left"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
                                    <title>Long right arrow</title>
                                    <path
                                        d="M18.29,8.59l-3.5-3.5L13.38,6.5,15.88,9H.29v2H15.88l-2.5,2.5,1.41,1.41,3.5-3.5L19.71,10Z"
                                        fill="#9b9b9b" />
                                </svg> </span></a>
                    </div>
                </div>
            </div>
        </article>
        <div class="c-sidebar l-grid-item l-grid-item--l--2-col l-grid-item--xl--2-col u-padding--zero--sides">
            <div class="u-spacing--double u-padding--right">
                <section
                    class="c-widget c-block-2 c-widget_block widget_search o-link-wrapper--underline u-spacing u-background-color--gray--light u-padding u-theme--border-color--darker u-border--left can-be--dark-dark">
                    <form role="search" method="get" action="./"
                        class="wp-block-search__button-outside wp-block-search__text-button wp-block-search">
                        <label for="wp-block-search__input-1" class="wp-block-search__label">Search</label>
                        <div class="wp-block-search__inside-wrapper"><input type="search" id="wp-block-search__input-1"
                                class="wp-block-search__input" name="s" value="" placeholder="" required /><button
                                type="submit" class="wp-block-search__button wp-element-button">Search</button>
                        </div>
                    </form>
                </section>
                <section
                    class="c-widget c-block-3 c-widget_block o-link-wrapper--underline u-spacing u-background-color--gray--light u-padding u-theme--border-color--darker u-border--left can-be--dark-dark">
                    <div class="wp-block-group is-layout-flow">
                        <h2 class="wp-block-heading">Recent Posts</h2>
                        <ul class="wp-block-latest-posts__list wp-block-latest-posts">
                            <li><a class="wp-block-latest-posts__post-title" href="./2023/06/27/hello-world/">Hello
                                    world!</a></li>
                        </ul>
                    </div>
                </section>
                <section
                    class="c-widget c-block-4 c-widget_block o-link-wrapper--underline u-spacing u-background-color--gray--light u-padding u-theme--border-color--darker u-border--left can-be--dark-dark">
                    <div class="wp-block-group is-layout-flow">
                        <h2 class="wp-block-heading">Recent Comments</h2>
                        <ol class="wp-block-latest-comments">
                            <li class="wp-block-latest-comments__comment">
                                <article>
                                    <footer class="wp-block-latest-comments__comment-meta"><a
                                            class="wp-block-latest-comments__comment-author"
                                            href="https://wordpress.org/">A WordPress Commenter</a>
                                        on <a class="wp-block-latest-comments__comment-link"
                                            href="./2023/06/27/hello-world/#comment-1">Hello
                                            world!</a></footer>
                                </article>
                            </li>
                        </ol>
                    </div>
                </section>
            </div>
        </div>
    </section>
</main>
<!-- /.l-main -->

{% endblock %}