{% extends 'main.html' %}

{% block content %}

{% load static %}

<style>
  .background-image {
    width: 100% !important;
    aspect-ratio: 16/5 !important;
  }

  .apply-color-1 {
    background-color: #255760 !important;
  }
</style>
<!-- main start -->
<main class="11 l-main u-spacing--double u-padding--double--bottom" role="main">

  <!--====== SLIDER PART START ======-->

  <section id="slider-part" class="slider-active">
    <div class="single-slider bg_cover pt-150"
      style="background-image: url({% static 'dynamic/images/slider/s-1.jpg' %}); width: 100%; aspect-ratio: 16/7;"
      data-overlay="3">
      <div class="container">
        <div class="row">
          <div class="col-xl-7 col-lg-9">
            <div class="slider-cont">
              <h1 data-animation="bounceInLeft" data-delay="1s">SDA KARURA</h1>
              <p data-animation="fadeInUp" data-delay="1.3s">
                "Come unto me, all ye that labour and are heavy laden, and I will give you rest." (Matthew 11:28 KJV)
              </p>
              <!-- <ul>
                                <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="{% url 'about' %}">Read More</a></li>
                            </ul> -->
            </div>
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- single slider -->

    <div class="single-slider bg_cover pt-150"
      style="background-image: url({% static 'dynamic/images/slider/s-2.jpg' %}); width: 100%; aspect-ratio: 16/7;"
      data-overlay="3">
      <div class="container">
        <div class="row">
          <div class="col-xl-7 col-lg-9">
            <div class="slider-cont">
              <h1 data-animation="bounceInLeft" data-delay="1s">SDA KARURA</h1>
              <p data-animation="fadeInUp" data-delay="1.3s">
                "He that dwelleth in the secret place of the most High shall abide under the shadow of the Almighty."
                (Psalm 91:1 KJV)
              </p>
              <!-- <ul>
                                <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="{% url 'about' %}">Read More</a></li>
                            </ul> -->
            </div>
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- single slider -->

    <div class="single-slider bg_cover pt-150"
      style="background-image: url({% static 'dynamic/images/slider/s-3.jpg' %}); width: 100%; aspect-ratio: 16/7;"
      data-overlay="3">
      <div class="container">
        <div class="row">
          <div class="col-xl-7 col-lg-9">
            <div class="slider-cont">
              <h1 data-animation="bounceInLeft" data-delay="1s">SDA KARURA</h1>
              <p data-animation="fadeInUp" data-delay="1.3s">
                "And Jesus said unto them, Come ye after me, and I will make you to become fishers of men." (Mark 1:17
                KJV)
              </p>
              <!-- <ul>
                                <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="{% url 'about' %}">Read More</a></li>
                            </ul> -->
            </div>
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- single slider -->
  </section>

  <!--====== SLIDER PART ENDS ======-->

  <!--====== ABOUT PART START ======-->

  <section id="about-part" class="pt-10 pb-5 container">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-title mt-10">
            <h5>About us</h5>
            <h2>Welcome to SDA Karura </h2>
          </div> <!-- section title -->
          <div class="about-cont">
            <p>
              Did you recently meet an Adventist? Maybe you saw an ad for an event at a local Adventist church, or drove
              by one of the denomination’s
              schools or hospitals. You may have just heard the word “Adventist” somewhere and want to find more about
              what it means. <br>
              Seventh-day Adventists are a global family of Christians who hold the Bible as the ultimate authority.
            </p>
            <a href="{% url 'about' %}" class="main-btn mt-10">Learn More</a>
          </div>
        </div> <!-- about cont -->
        <div class="col-lg-6 offset-lg-1">
          <div class="about-event mt-10">
            <div class="event-title">
              <p>
                <a class="main-btn btn-sm" href="?year={{ current_year }}&month={{ current_month|add:" -1" }}">Past Month</a>
                |
                <a class="main-btn" href="?year={{ current_year }}&month={{ current_month|add:" 1" }}">Next Month</a>
              </p>

            </div>
            <div class="event-title">
              <h3>Upcoming events</h3>
            </div> <!-- event title -->
            <ul>
              {% if events %}
              {% for event in events%}
              <li>
                <div class="singel-event">
                  <span><i class="fa fa-calendar"></i>{{event.eventDate}}</span>
                  <a href="{% url 'event' event.slug %}">
                    <h4>{{event.title}}</h4>
                  </a>
                  <span><i class="fa fa-clock-o"></i> {{event.startTime}} - {{event.endTime}}</span>
                  <span><i class="fa fa-map-marker"></i> {{event.venue}}</span>
                </div>
              </li>
              {% endfor %}
              {% else %}
              <li>No events found for this month.</li>
              {% endif %}
            </ul>
          </div> <!-- about event -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->

  </section>

  <!--====== ABOUT PART ENDS ======-->

  <!--====== WORSHIP PART START ======-->
  <section class="pb-10 pt-10 container">
    <div class="container">
      <div class="apply">
        <div class="row no-gutters">
          <div class="col-lg-12">
            <div class="">
              <h3>Worship Times</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="apply-aprt" class="pb-10 pt-10 container">
    <div class="container">
      <div class="apply">
        <div class="row no-gutters">
          <div class="col-lg-6">
            <div class="apply-cont apply-color-1">
              <h3>Sabbath</h3>
              <table class="table table-bordered table-light table-striped">
                <thead class="thead-light">
                  <tr>
                    <th>Time</th>
                    <th>Program</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>9.00am-10.30am</td>
                    <td>Sabbath School</td>
                  </tr>
                  <tr>
                    <td>10.30am-11.00am </td>
                    <td>Song Service </td>
                  </tr>
                  <tr>
                    <td>11.00am-12.30Pm</td>
                    <td>Devine Hour</td>
                  </tr>
                  <tr>
                    <td>2.00PM-4.00PM </td>
                    <td>Bible Study</td>
                  </tr>
                  <tr>
                    <td>4.00PM-5.30PM </td>
                    <td>Departmental Meetings</td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- apply cont -->
          </div>
          <div class="col-lg-6">
            <div class="apply-cont apply-color-1">
              <h3>Wednesday </h3>
              <table class="table table-bordered table-light table-striped">
                <thead class="thead-light">
                  <tr>
                    <th>Time</th>
                    <th>Program</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>5.30Pm-6.30Pm </td>
                    <td>Mid-week Prayers</td>
                  </tr>
                </tbody>
              </table>
              <h3>Friday</h3>
              <table class="table table-bordered table-light table-striped">
                <thead class="thead-light">
                  <tr>
                    <th>Time</th>
                    <th>Program</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>5.30Pm-6.30Pm </td>
                    <td>Vespers</td>
                  </tr>
                </tbody>
              </table>
              <div class="p-2">

              </div>
            </div> <!-- apply cont -->
          </div>
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </section>

  <!--====== APPLY PART ENDS ======-->

</main>
<!-- /.l-main -->


{% endblock %}