{% extends 'main.html' %}

{% block content %}

{% load static %}

<style>
    .gray-bg {
        background-color: #ffff !important;
    }
</style>

<!-- main start -->
<main class="11 l-main u-spacing--double u-padding--double--bottom" role="main">
    <header class="c-page-header c-page-header__long u-theme--background-color--dark  u-space--zero--top">
        <div class="c-page-header__long--inner l-grid l-grid--7-col">
            <div
                class="c-page-header__content c-page-header__long__content l-grid-wrap l-grid-wrap--5-of-7 u-shift--left--1-col--at-xxlarge">
                <h1 class="u-font--primary--xl u-color--white u-font-weight--bold">Karura Adventist Church Leaders</h1>
            </div>
        </div>
    </header>

    <!--====== TEACHERS PART START ======-->

    <section id="teachers-page" class="pt-10 pb-120 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="about-singel-items mt-30">
                        <h4>Our Pastors</h4>
                       
                    </div> <!-- about singel -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="{% static 'dynamic/images/teachers/t-1.jpg' %}" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="#">
                                <h6>MarkMark alen</h6>
                            </a>
                            <span>Vice chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="{% static 'dynamic/images/teachers/t-2.jpg' %}" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html">
                                <h6>David card </h6>
                            </a>
                            <span>Pro chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="{% static 'dynamic/images/teachers/t-3.jpg' %}" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html">
                                <h6>Rebeka alig</h6>
                            </a>
                            <span>Pro chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="{% static 'dynamic/images/teachers/t-4.jpg' %}" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html">
                                <h6>Hanna bein</h6>
                            </a>
                            <span>Aerobics head</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="about-singel-items mt-30">
                        <h4>Our Elders</h4>
                       
                    </div> <!-- about singel -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="{% static 'dynamic/images/teachers/t-5.jpg' %}" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html">
                                <h6>David card </h6>
                            </a>
                            <span>Pro chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="{% static 'dynamic/images/teachers/t-6.jpg' %}" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html">
                                <h6>Mark alen</h6>
                            </a>
                            <span>Vice chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="{% static 'dynamic/images/teachers/t-7.jpg' %}" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html">
                                <h6>Rebeka alig</h6>
                            </a>
                            <span>Pro chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="{% static 'dynamic/images/teachers/t-8.jpg' %}" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html">
                                <h6>Hanna bein</h6>
                            </a>
                            <span>Aerobics head</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="about-singel-items mt-30">
                        <h4>Other Church Leaders</h4>
                       
                    </div> <!-- about singel -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="{% static 'dynamic/images/teachers/t-5.jpg' %}" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html">
                                <h6>David card </h6>
                            </a>
                            <span>Pro chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="{% static 'dynamic/images/teachers/t-6.jpg' %}" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html">
                                <h6>Mark alen</h6>
                            </a>
                            <span>Vice chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="{% static 'dynamic/images/teachers/t-7.jpg' %}" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html">
                                <h6>Rebeka alig</h6>
                            </a>
                            <span>Pro chencelor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="{% static 'dynamic/images/teachers/t-8.jpg' %}" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html">
                                <h6>Hanna bein</h6>
                            </a>
                            <span>Aerobics head</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
            </div> <!-- row -->
            
        </div> <!-- container -->
    </section>

    <!--====== TEACHERS PART ENDS ======-->

</main>
<!-- /.l-main -->

{% endblock %}