{% extends 'main.html' %}

{% block content %}

{% load static %}

<hr class="u-theme--background-color--primary u-theme--background-color--darker u-font-weight--bold p-1">

<div class="container p-1">
    <table id="table" class="display table table-striped table-bordered table-responsive-sm table-responsive-lg ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Family</th>
                <th>Admission</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>Nelson</td>
                <td>Mokoro</td>
                <td>Jerusalem</td>
            </tr>
            <tr>
                <td>Nelson</td>
                <td>Mokoro</td>
                <td>Jerusalem</td>
            </tr>
            <tr>
                <td>Nelson</td>
                <td>Mokoro</td>
                <td>Jerusalem</td>
            </tr>
            <tr>
                <td>Nelson</td>
                <td>Mokoro</td>
                <td>Jerusalem</td>
            </tr>
            <tr>
                <td>Nelson</td>
                <td>Mokoro</td>
                <td>Jerusalem</td>
            </tr>
            <tr>
                <td>Nelson</td>
                <td>Mokoro</td>
                <td>Jerusalem</td>
            </tr>
            <tr>
                <td>Nelson</td>
                <td>Mokoro</td>
                <td>Jerusalem</td>
            </tr>
            <tr>
                <td>Nelson</td>
                <td>Mokoro</td>
                <td>Jerusalem</td>
            </tr>
            <tr>
                <td>Nelson</td>
                <td>Mokoro</td>
                <td>Jerusalem</td>
            </tr>
            <tr>
                <td>Nelson</td>
                <td>Mokoro</td>
                <td>Jerusalem</td>
            </tr>
            <tr>
                <td>Nelson</td>
                <td>Mokoro</td>
                <td>Jerusalem</td>
            </tr>
            <tr>
                <td>Nelson</td>
                <td>Mokoro</td>
                <td>Jerusalem</td>
            </tr>

        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
      $('#table').DataTable();     

    });

</script>

{% endblock %}