{% extends 'main.html' %}

{% block content %}

{% load static %}

<style>
    .gray-bg {
        background-color: #ffff !important;
    }
    .ministry-img {
        width: 100% !important;
        aspect-ratio: 4/3 !important;
    }
</style>

<!-- main start -->
<main class="11 l-main u-spacing--double u-padding--double--bottom" role="main">
    <header class="c-page-header c-page-header__long u-theme--background-color--dark  u-space--zero--top">
        <div class="c-page-header__long--inner l-grid l-grid--7-col">
            <div
                class="c-page-header__content c-page-header__long__content l-grid-wrap l-grid-wrap--5-of-7 u-shift--left--1-col--at-xxlarge">
                <h1 class="u-font--primary--xl u-color--white u-font-weight--bold">Karura Adventist Church Ministries</h1>
            </div>
        </div>
    </header>

    <!--====== EVENTS PART START ======-->

    <section id="event-page" class="pt-10 pb-10 gray-bg">
        <div class="container">
            <div class="row">

                {% for ministry in ministries %}
                <div class="col-lg-6">
                    <div class="singel-event-list mt-10">
                        <div class="event-thum">
                            <img class="ministry-img" src="{{ministry.image.url}}" alt="Event">
                        </div>
                        <div class="event-cont">
                            
                            <a href="{% url 'ministry' ministry.slug %}">
                                <h4>{{ministry.name}}</h4>
                            </a>
                            <p>
                                {% autoescape off %}
                                    {{ministry.content|truncatechars:70}}
                                {% endautoescape %}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
               
            </div> <!-- row -->
            
        </div> <!-- container -->
    </section>

    <!--====== EVENTS PART ENDS ======-->

</main>
<!-- /.l-main -->

{% endblock %}