{% extends 'main.html' %}

{% block content %}

{% load static %}

<style>
    .gray-bg {
        background-color: #ffff !important;
    }
    .ministry-img {
        width: 100% !important;
        aspect-ratio: 16/7 !important;
    }
</style>

<!-- main start -->
<main class="11 l-main u-spacing--double u-padding--double--bottom" role="main">
    <header class="c-page-header c-page-header__long u-theme--background-color--dark  u-space--zero--top">
        <div class="c-page-header__long--inner l-grid l-grid--7-col">
            <div
                class="c-page-header__content c-page-header__long__content l-grid-wrap l-grid-wrap--5-of-7 u-shift--left--1-col--at-xxlarge">
                <h1 class="u-font--primary--xl u-color--white u-font-weight--bold">Karura Adventist Church Ministries
                </h1>
            </div>
        </div>
    </header>

    <!--====== EVENTS PART START ======-->

    <section id="event-singel" class="pt-10 pb-10 gray-bg">
        <div class="container">
            <div class="events-area">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="events-left">
                            <img class="ministry-img" src="{{ministry.image.url}}" alt="Ministry">
                            <p>
                                {% autoescape off %}
                                    {{ministry.content|linebreaks}}
                                {% endautoescape %}
                            </p>
                        </div> <!-- events left -->
                    </div>
                    
                </div> <!-- row -->
            </div> <!-- events-area -->
        </div> <!-- container -->
    </section>

    <!--====== EVENTS PART ENDS ======-->

</main>
<!-- /.l-main -->

{% endblock %}