{% extends 'main.html' %}

{% block content %}

{% load static %}


<hr class="u-theme--background-color--primary u-theme--background-color--darker u-font-weight--bold p-1">

<div class="container p-3">
    <h3 class="text-primary u-font-weight--bold text-center">Karura Adventist Church At Glance</h3>
</div>

<section class="p-3">
    <div class="container py-7">
        <hr class="hr-primary w-15 hr-xl ml-0 mb-5">
        
        <div class="row mb-5">
            <div class="col-md-6 text-md-right">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Personal Trainer 2"
                    class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
            </div>
            <div class="col-md-6 flex-valign">
                <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
                    Kim Kirk
                </h3>
                <h5 class="my-0 font-weight-normal">
                    <em>Prenatal Specialist</em>
                </h5>
                <hr class="hr-primary w-70 ml-0 mb-3 bg-dark">
                <p>Commoveo gilvus iaceo nutus pagus tincidunt. Eligo nutus proprius saluto vulputate. Brevitas eligo et
                    fere quadrum quae ratis.</p>
                <p>Eum pecus quis. Accumsan genitus humo inhibeo ut vel. Augue bene enim gemino ideo ille luptatum os
                    veniam venio.</p>
                
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6 order-md-2">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Personal Trainer 3"
                    class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
            </div>
            <div class="col-md-6 flex-valign text-md-right">
                <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
                    Kurt Marler
                </h3>
                <h5 class="my-0 font-weight-normal">
                    <em>CrossFit Trainer</em>
                </h5>
                <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3 bg-dark">
                <p>Causa dolor et immitto typicus. Gilvus minim nunc pala suscipere tation usitas volutpat. Abbas abdo
                    meus.</p>
                <p>Amet incassum mos quidem refoveo tation usitas vicis vulpes. Abigo accumsan acsi adipiscing esca
                    hendrerit interdico occuro suscipere torqueo.</p>
                
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6 text-md-right">
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Personal Trainer 4"
                    class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
            </div>
            <div class="col-md-6 flex-valign">
                <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
                    Lina Andrews
                </h3>
                <h5 class="my-0 font-weight-normal">
                    <em>Yoga Specialist</em>
                </h5>
                <hr class="hr-primary w-70 ml-0 mb-3 bg-dark">
                <p>Abico diam scisco. Amet conventio ex ille iriure metuo olim probo. Conventio esca incassum metuo
                    ulciscor.</p>
                <p>Abdo appellatio decet jus mauris neque plaga sino wisi ymo.</p>
               
            </div>
        </div>
    </div>
</section>


{% endblock %}