{% extends 'main.html' %}

{% block content %}

{% load static %}

<style>
    .gray-bg {
        background-color: #ffff !important;
    }
</style>

<!-- main start -->
<main class="11 l-main u-spacing--double u-padding--double--bottom" role="main">
    <header class="c-page-header c-page-header__long u-theme--background-color--dark  u-space--zero--top">
        <div class="c-page-header__long--inner l-grid l-grid--7-col">
            <div
                class="c-page-header__content c-page-header__long__content l-grid-wrap l-grid-wrap--5-of-7 u-shift--left--1-col--at-xxlarge">
                <h1 class="u-font--primary--xl u-color--white u-font-weight--bold">Karura Adventist Church Youtube Chanel</h1>
            </div>
        </div>
    </header>

    <!--====== BLOG PART START ======-->

    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-bbe545da-87e3-4169-a540-a8b9f73200d3"></div>
  
    <!--====== BLOG PART ENDS ======-->

</main>
<!-- /.l-main -->

{% endblock %}