{% extends 'main-dash.html' %}

{% block content %}

{% load static %}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <!-- events Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">

                            

                            <div class="card-body">
                                <h5 class="card-title">Events</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-calendar2-event"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{event_count}}</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End event Card -->

                    <!-- Members Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">

                            

                            <div class="card-body">
                                <h5 class="card-title">Members</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{member_count}}</h6>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Customers Card -->

                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="card-body">
                                <h5 class="card-title">Members</h5>

                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Family</th>
                                            <th scope="col">Adm</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for member in members %}
                                        <tr>
                                            <th scope="row"><a href="{% url 'updateMember' member.slug %}">{{ forloop.counter }}</a></th>
                                            <td>{{member.name}}</td>
                                            <td>{{member.family}}</a></td>
                                            <td>{{member.admision}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Recent Sales -->

                    <!-- Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">

                            <div class="card-body pb-0">
                                <h5 class="card-title">Family</span></h5>

                                <!-- <table class="table table-borderless"> -->
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">families</th>
                                                <th scope="col">Members</th>
                                                <th scope="col">Update</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for family in families %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{family.name}}</td>
                                                <td>{{ family.member_count }}</td>
                                                <td><a class="btn btn-primary" href="{% url 'updateFamily' family.slug %}">Update</a></td>
                                                <td><a class="btn btn-danger" href="{% url 'deleteFamily' family.slug %}">Delete</a></td>
                                            </tr>
                                            {% endfor %}
                                           
                                        </tbody>
                                    </table>

                            </div>

                        </div>
                    </div><!-- End Top Selling -->
                    <!-- Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">

                            <div class="card-body pb-0">
                                <h5 class="card-title">Departments</h5>
                            </div>
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Update</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for department in departments %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{department.name}}</td>
                                        <td><a class="btn btn-primary" href="{% url 'update_department' department.slug %}">Update</a></td>
                                        <td><a class="btn btn-danger" href="{% url 'delete_department' department.slug %}">Delete</a></td>
                                    </tr>
                                    {% endfor %}
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">

                <!-- Recent Activity -->
                <div class="card">
                    

                    <div class="card-body">
                        <h5 class="card-title">Events</h5>

                        <div class="activity">
                            {% for event in events %}
                            <div class="activity-item d-flex">
                                <div class="activite-label">{{ event.date|date:"jS F Y" }}</div>
                                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                <div class="activity-content">
                                    {{event.name}}
                                </div>
                            </div><!-- End activity item-->
                            {% endfor %}

                        </div>

                    </div>
                </div><!-- End Recent Activity -->

                <!-- News & Updates Traffic -->
                <div class="card">

                    <div class="card-body pb-0">
                        <h5 class="card-title">Blogs</h5>

                        <div class="news">
                            {% for blog in blogs %}
                            <div class="post-item clearfix">
                                <img src="{{blog.image.url}}" alt="">
                                <h4><a href="#">{{blog.title}}</a></h4>
                                <p>{{ blog.content|truncatechars:30 }}</p>
                            </div>
                            {% endfor %}


                        </div><!-- End sidebar recent posts-->

                    </div>
                </div><!-- End News & Updates -->

            </div><!-- End Right side columns -->

        </div>
    </section>

</main><!-- End #main -->


{% endblock %}