{% extends 'main-dash.html' %}

{% block content %}

{% load embed_video_tags %}

{% load static %}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Sermons</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Sermons</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-sm-4 p-4">
                <!-- Large Modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#largeModal">
                    Add Sermon
                </button>

                <div class="modal fade" id="largeModal" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add Sermon</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body">
                                    {{form.as_p}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- End Large Modal-->
            </div>
        </div>
        <div class="row">
            {% for sermon in sermons %}
            <div class="col-sm-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        {% video sermon.videolink '100% x 300' %}
                        <h5>{{sermon.name}}</h5>
                        <div class="p-2">
                            <a class="btn btn-primary" href="{% url 'sermon_update' sermon.pk %}">Update</a>
                        </div>
                        <div class="p-2">
                            <a class="btn btn-danger" href="{% url 'sermon_delete' sermon.pk %}">Delete</a>
                        </div>
                        
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </section>

</main><!-- End #main -->

{% endblock %}